* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(circle at top, #111, #000);
  color: #0ff;
  font-family: system-ui, monospace;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 720px;
  background: #0b0b0b;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
}

h3{
    text-align: center;
    margin-bottom: 16px;
    font-weight: 300;
}

.controls {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 12px;
  margin-bottom: 20px;
}

label {
  font-size: 12px;
}

input,
select,
button {
  width: 100%;
  margin-top: 4px;
  padding: 6px;
  background: #000;
  color: #0ff;
  border: 1px solid #333;
  border-radius: 4px;
}

button {
  cursor: pointer;
}

button:hover:not(:disabled) {
  background: #022;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

canvas {
  width: 100%;
  height: 420px;
  border: 1px solid #222;
  background: #000;
  border-radius: 8px;
  filter: drop-shadow(0 0 18px rgba(0, 255, 255, 0.2));
}
